# Virtual environment
.venv/
venv/
env/

# PsychoPy / Python runtime artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Experiment data output
# data/
data/test/
data/saved/
data/simulated/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Rendered report files
# report_files/
# report.html

# Formatter config
air.toml

# tmp files
results/

# tmp analysis files
analysis/

notes.md
prompt.txt

/.quarto/
**/*.quarto_ipynb
